# Gradle
.gradle
/build/
/out/
/classes/
/gradle/

# Maven
target
release.properties
pom.xml.releaseBackup
pom.xml.versionsBackup

# IntelliJ IDEA project configuration
*.iml
*/.idea/*
.idea/*

# macOS
.DS_Store